{% load static %}
<nav class="navbar navbar-expand-lg navbar-custom navbar-light sticky-top" role="navigation">
    <a class="navbar-brand" href="{% url 'pagina_inicial' %}">
        <img class="logo" src="{% static 'intranet/img/core-img/logo.png' %}" alt="Polipeças">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon my-toggler"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
        <ul class="nav nav-pills">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropDownAssinatura" role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Assinatura
                </a>
                <ul class="dropdown-menu" >
                    <li class="submenu">
                        <a class="nav-link {{ pagina_guias }}" href="#">Guia de Instalação</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item {{ guia_zimbra }}" href="{% url 'guia_zimbra' %}">Zimbra</a>
                            </li>
                            <li><a class="dropdown-item {{ guia_thunderbird }}"
                                   href="{% url 'guia_thunderbird' %}">Thunderbird</a></li>
                            <li><a class="dropdown-item {{ guia_outlook }}" href="{% url 'guia_outlook' %}">Outlook</a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </li>

            {#                <li class="nav-item">#}
            {#                    <form id="search-form" class="d-flex has-search mt-1" action="{% url 'visualizar_assinatura' %}">#}
            {#                        <input id="pesquisar_assinatura"#}
            {#                               class="form-control form-control-sm" type="search"#}
            {#                               placeholder="Pesquisar"#}
            {#                               aria-label="Search" ,#}
            {#                               name="buscar">#}
            {#                        <button id="button-search" type="submit">#}
            {#                            <i class="fas fa-search ps-2" aria-hidden="true"></i>#}
            {#                        </button>#}
            {#                    </form>#}
            {#                </li>#}
            {#            </ul>#}
        </ul>
        <ul class="nav nav-pills">
            {% if user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'admin:index' %}" class="nav-link px-2">Painel de Administração</a>
                </li>
                <li class="nav-item"><a href="{% url 'painel_intranet' %}" class="nav-link px-2">Painel Intranet</a>
                </li>
                <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link px-2">Sair</a></li>
            {% else %}
                <li class="nav-item" role="button" data-bs-toggle="modal" data-bs-target="#login-modal-id">Entrar
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% if user.is_authenticated is False %}
    {% include 'intranet/partials/_login.html' %}
{% endif %}