input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none
}

.money {
    color: var(--logoLetra);
}

.ipi {
    color: var(--logoLetra);
}

.delete-button {
    background-color: transparent;
    border-width: 0;
}

.icon {
    width: 25%;

}

.form-switch .baseRed {
    font-size: 25px;
    margin-left: -1.5em;
}

.baseRed-label {
    margin-left: -2.5em;
}

#resultado-id,
#label-resultado-id,
#fecop-id,
#label-fecop-id {
    font-size: 2em;
}
