#numero-negociacao::-webkit-outer-spin-button,
#numero-negociacao::-webkit-inner-spin-button
{
    display: none;
    -webkit-appearance: none;
    margin: 0;
}

#numero-negociacao[type=number]
{
    -moz-appearance: textfield;
}

.money {
    color: var(--logoLetra);
}

.ipi {
    color: var(--logoLetra);
}

.delete-button {
    background-color: transparent;
    border-width: 0;
}

.icon {
    width: 25%;
}

.form-switch .baseRed {
    font-size: 25px;
    margin-left: -1.5em;
}

.baseRed-label {
    margin-left: -2.5em;
}

#resultado-id,
#label-resultado-id,
#fecop-id,
#label-fecop-id,
#total-id{
    font-size: 1.5rem;
}
