{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <link href="{% static 'intranet/css/index.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="row">
        {% if links %}
            {% for link in links %}
                <div class="col-3 mb-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="feature-icon mx-auto">
                                <a href="{{ link.url }}">
                                    <img class="img-fluid" src="{{ link.logo.url }}" alt="{{ link.url }}">
                                </a>
                            </div>
                            <h5>{{ link.titulo }}</h5>
                            <p>{{ link.descricao }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
