{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Login</li>
{% endblock %}

{% block content %}
    <h1>Login</h1>
    <div class="mb-4 w-50" id="usuario">
        <form action="{% url 'login' %}" method="post" enctype="multipart/form-data" id="login-id"
              class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="row">
                <div class="col card card-custom">
                    <div class="form-floating mb-2 mt-3">
                        <input type="text" class="form-control {{ validacao.usuario.tag }}" id="floatingInput"
                               placeholder="Usuário"
                               name="usuario"
                               value="{{ form.usuario }}"
                               required
                               autocomplete="username">
                        <label for="floatingInput">Usuário</label>
                        <div class="invalid-feedback">
                            {{ validacao.usuario.mensagem }}
                        </div>
                    </div>
                    <div class="form-floating mt-2">
                        <input type="password" class="form-control {{ validacao.senha.tag }}" id="floatingPassword"
                               placeholder="Senha"
                               name="senha"
                               required
                               autocomplete="current-password">
                        <label for="floatingPassword">Senha</label>
                        <div class="invalid-feedback">
                            {{ validacao.senha.mensagem }}
                        </div>
                    </div>
                    <a class="mt-2 mb-2" href="{% url 'recuperar_senha' %}">Recuperar Senha</a>
                </div>
            </div>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
        <div class="d-flex justify-content-end mt-4">
            <button type="submit" class="btn btn-success" form="login-id" id="login-button-id" name="login-btn">
                Login
            </button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('body').keypress(function (evt) {
                if (evt.keyCode == 13){
                    evt.preventDefault()
                    $('#login-button-id').trigger("click")
                }
            })
        })
    </script>
{% endblock %}