{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <link href="{% static 'intranet/css/links.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'gerenciar_links' %}">Gerenciar Links</a></li>
    <li class="breadcrumb-item active" aria-current="page">Adicionar Link</li>
{% endblock %}

{% block content %}
    <h1>Adicionar Link</h1>
    <div class="mb-4">
        <form action="{% url 'adicionar_link' %}" method="post" enctype="multipart/form-data" id="id_adicionar_link">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="row mb-4">
                    <div class="col border rounded me-4">
                        <div class="row">
                            <div class="col-7">
                                <div class="form-floating mt-2 mb-3">
                                    {{ form.titulo|add_class:'form-control' }}
                                    <label for="{{ form.titulo.id_for_label }}"
                                           class="form-label">{{ form.titulo.label }}</label>
                                    {% for erro in form.titulo.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ form.titulo.errors }}
                                        </div>
                                    {% endfor %}
                                </div> <!-- Título -->
                            </div>
                            <div class="col-auto d-flex flex-column align-self-center">
                                <div class="form-check form-switch">
                                    {{ form.exibir|add_class:'form-check-input' }}
                                    <label for="{{ form.exibir.id_for_label }}"
                                           class="form-check-label">{{ form.exibir.label }}</label>
                                </div> <!-- Exibir -->
                                <div class="form-check form-switch">
                                    {{ form.requer_acesso|add_class:'form-check-input' }}
                                    <label for="{{ form.requer_acesso.id_for_label }}"
                                           class="form-check-label">{{ form.requer_acesso.label }}</label>
                                </div> <!-- Requer Acesso -->
                                <div class="form-check form-switch">
                                    {{ form.intranet|add_class:'form-check-input' }}
                                    <label for="{{ form.intranet.id_for_label }}"
                                           class="form-check-label">{{ form.intranet.label }}</label>
                                </div> <!-- Intranet -->
                            </div>
                        </div>

                        <div class="form-floating mb-2">
                            {{ form.url|add_class:'form-control' }}
                            <label for="{{ form.url.id_for_label }}" class="form-label">{{ form.url.label }}</label>
                            {% for erro in form.url.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.url.errors }}
                                </div>
                            {% endfor %}
                        </div> <!-- URL -->
                    </div>
                    <div class="col border rounded">
                        <div class="form-floating mt-2 mb-2">
                            {{ form.descricao|add_class:'form-control' }}
                            <label for="{{ form.descricao.id_for_label }}"
                                   class="form-label">{{ form.descricao.label }}</label>
                            {% for erro in form.descricao.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.descricao.errors }}
                                </div>
                            {% endfor %}
                        </div> <!-- Descrição -->
                        <div>
                            <label for="{{ form.permissoes.id_for_label }}"
                                   class="form-label">{{ form.permissoes.label }}</label>
                            {{ form.permissoes|add_class:'form-control' }}
                        </div><!-- Permissões -->
                    </div>
                </div>
                <div class="row">
                    <div class="form-group border rounded">
                        <label for="{{ form.logo.id_for_label }}" class="form-label">{{ form.logo.label }}</label>
                        {{ form.logo|add_class:'form-control mb-2' }}
                        {% for erro in form.logo.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.logo.errors }}
                            </div>
                        {% endfor %}
                    </div> <!-- LOGO -->
                </div>
            </div>
            <div class="d-flex justify-content-between mt-4">
                <a href="{% url 'gerenciar_links' %}" class="btn btn-info">Voltar</a>
                <a href="{% url 'adicionar_link' %}" class="btn btn-warning"> Limpar </a>
                <button type="submit" class="btn btn-success">Salvar</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{% static 'intranet/js/selecionar_permissoes_links.js' %}"></script>
    <script>
        requer_acesso_check = $('#id_requer_acesso')
        $(document).ready(function () {
            if ($('#id_permissoes').val().length !== 0) {
                requer_acesso_check.prop('checked', true)
                requer_acesso_check.prop('disabled', true)
            } else {
                requer_acesso_check.prop('disabled', false)
            }
        })
        $('#id_permissoes').on('change', function () {
            if ($(this).val().length !== 0) {
                requer_acesso_check.prop('checked', true)
                requer_acesso_check.prop('disabled', true)
            } else {
                requer_acesso_check.prop('disabled', false)
            }
        })

        $('#id_adicionar_link').on('submit', function () {
            requer_acesso_check.prop('disabled', false)
        })
    </script>
{% endblock %}