{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <link href="{% static 'intranet/css/links.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Painel Intranet</li>
{% endblock %}

{% block content %}
    <div class="d-flex flex-row justify-content-between">
        <div>
            <h1>Painel Intranet</h1>
        </div>
        <div class="d-flex">
            <div class="me-2">
                <button type="button" class="btn btn-primary" id="pesquisar_button_id">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
                <form action="{% url 'ajax_pesquisar_links' %}" method="get" id="form_pesquisar_links_id">
                    <div class="input-group" style="display: none;" id="pesquisar_id">
                        <input type="search" class="form-control" placeholder="Pesquisar" name="pesquisar">
                        <button type="submit" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </button>
                        <button type="reset" class="btn btn-warning">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-x-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownAdicionarButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="icon baseline">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             viewBox="0 0 16 16">
                            <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"></path>
                        </svg>
                    </div>
                    Adicionar
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownAdicionarButton">
                    <li><a href="{% url 'adicionar_link' %}" class="dropdown-item">Link</a></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="row">
        {% if links %}
            {% for link in links|dictsort:"titulo" %}
                <div class="col-3 mb-4" intranet-link id="{{ link.id }}">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="feature-icon mx-auto">
                                <img class="img-fluid" src="{{ link.logo.url }}" alt="{{ link.logo.url }}">
                            </div>
                            <h5>{{ link.titulo }}</h5>
                            <a href="{% url 'editar_link' link.id %}" type="button" class="btn btn-info">Editar</a>
                            <a href="{% url 'excluir_link' link.id %}" type="button"
                               class="btn btn-danger delete-confirmation"
                               object-delete-data="{{ link.titulo }}">Excluir</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        /* Modal de confirmação de exclusão de link */

        $(document).on('click', '.delete-confirmation', function (evt) {
            const link = $(this).attr('object-delete-data')
            const msg = 'Tem certeza que deseja excluir "' + link + '" ?'
            return confirm(msg);
        })
    </script>
    <script>
        $('#pesquisar_button_id').on('click', function () {
            // Esconde o botão de search e revela o formulário de pesquisa.
            $(this).hide()
            $("#pesquisar_id").show()
        })
        $("button[type='reset']").on('click', function () {
            // Esconde o formulário de pesquisa e revela o botão de search.
            resetarPesquisa();
            $('#pesquisar_button_id').show()
            $("#pesquisar_id").hide()
        })
        $(document).mouseup(function (event) {
            let container = $("#pesquisar_id");

            // if the target of the click isn't the container nor a descendant of the container
            if (!container.is(event.target) && container.has(event.target).length === 0) {
                $('#pesquisar_button_id').show()
                container.hide()
            }
        });
    </script>
    <script src="{% static 'intranet/js/pesquisar_links.js' %}"></script>
{% endblock %}