{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <link href="{% static 'intranet/css/links.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Painel Intranet</li>
{% endblock %}

{% block content %}
    <div class="d-flex flex-row justify-content-between">
        <div>
            <h1>Painel Intranet</h1>
        </div>
        <div>
            <a href="{% url 'adicionar_link' %}" class="btn btn-primary">
                <div class="icon baseline">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         viewBox="0 0 16 16">
                        <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"></path>
                    </svg>
                </div>
                Adicionar Link</a>
        </div>
    </div>
    <div class="row">
        {% if links %}
            {% for link in links %}
                <div class="col-3 mb-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="feature-icon mx-auto">

                                <img class="img-fluid" src="{{ link.logo.url }}" alt="{{ link.logo.url }}">

                            </div>
                            <h5>{{ link.titulo }}</h5>
                            <a href="{% url 'editar_link' link.id %}" type="button" class="btn btn-info">Editar</a>
                            <a href="{% url 'excluir_link' link.id %}" type="button" class="btn btn-danger">Excluir</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}