{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <link href="{% static 'catalogos/css/index.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Catalogos</li>
{% endblock %}

{% block content %}
    <h1>Catalogos Online</h1>

    <div class="row mb-4">
        <!-- TecDoc -->
        <div class="card text-center col-2  mb-2">
            <div class="card-body row">
                <div class="mb-5">
                    <img src="{% static 'catalogos/logo/tecdoc.gif' %}" class="card-img-top responsive"
                         alt="logo-tecdoc.gif">
                </div>

                <div class="mb-2">
                    <a href="https://tecalliance.com.br/tecdoccataloguegratuito/" class="btn btn-primary"
                       target="_blank">Ir para o Cadastro</a>
                </div>
                <div class="">
                    <a href="https://web.tecalliance.net/tecdocbr/qc/login" class="btn btn-primary"
                       target="_blank">Ir para o Site</a>
                </div>
            </div>
        </div>

        <!-- NAKATA -->
        <div class="card text-center col-2  mb-2">
            <div class="card-body row">
                <div class="mb-5">
                    <img src="{% static 'catalogos/logo/nakata.png' %}" class="card-img-top responsive"
                         alt="logo-nakata.png">
                </div>
                <div class="">
                    <a href="http://www.catalogonakata.com.br/" class="btn btn-primary" target="_blank">Ir para o
                        Site</a>
                </div>
            </div>
        </div>

        <!-- APLIC -->
        <div class="card text-center col-2  mb-2">
            <div class="card-body row">
                <div class="mb-5">
                    <img src="{% static 'catalogos/logo/aplic.png' %}" class="card-img-top responsive"
                         alt="logo-APLIC.png">
                </div>
                <div>
                    <a class="btn btn-primary" href="http://www.c123.com.br/aplic" target="_blank">Ir para o Site</a>
                </div>
            </div>
        </div>

        <!-- AXIOS -->
        <div class="card text-center col-2  mb-2">
            <div class="card-body row">
                <div class="mb-5">
                    <img src="{% static 'catalogos/logo/axios.png' %}" class="card-img-top responsive"
                         alt="logo-AXIOS.png">
                </div>
                <div>
                    <a href="https://www.monroeaxios.com.br" class="btn btn-primary" target="_blank">Ir para o Site</a>
                </div>
            </div>
        </div>

        <!-- DAYCO -->
        <div class="card text-center col-2  mb-2">
            <div class="card-body row">
                <div class="mb-5">
                    <img src="{% static 'catalogos/logo/dayco.png' %}" class="card-img-top responsive"
                         alt="logo-DAYCO.png">
                </div>
                <div>
                    <a href="http://web.daycogarage.com/catalogue/pt-pt?a=2" class="btn btn-primary" target="_blank">Ir
                        para
                        o
                        Site</a>
                </div>
            </div>
        </div>

        <!-- FRAS-LE -->
        <div class="card text-center col-2  mb-2">
            <div class="card-body row">
                <div class="mb-5">
                    <img src="{% static 'catalogos/logo/frasle.png' %}" class="card-img-top responsive"
                         alt="logo-frasle.png">
                </div>
                <div>
                    <a href="https://catalogo.fras-le.com/FRAS-LE/" class="btn btn-primary" target="_blank">Ir para
                        o
                        Site</a>
                </div>
            </div>
        </div>

        <!-- MANN -->
        <div class="card text-center col-2  mb-2">
            <div class="card-body row">
                <div class="mb-5">
                    <img src="{% static 'catalogos/logo/mann.png' %}" class="card-img-top responsive"
                         alt="logo-MANN.png">
                </div>
                <div class="">
                    <a href="https://catalog.mann-filter.com/BR/por" class="btn btn-primary" target="_blank">Ir para o
                        Site</a>
                </div>
            </div>
        </div>

        <!-- MAHLE -->
        <div class="card text-center col-2  mb-2">
            <div class="card-body row">
                <div class="mb-5">
                    <img src="{% static 'catalogos/logo/mahle.png' %}" class="card-img-top responsive"
                         alt="logo-MAHLE.png">
                </div>
                <div class="">
                    <a href="https://catalog.mahle-aftermarket.com/br/" class="btn btn-primary" target="_blank">Ir para
                        o
                        Site</a>
                </div>
            </div>
        </div>

        <!-- COFAP -->
        <div class="card text-center col-2  mb-2">
            <div class="card-body row">
                <div class="mb-5">
                    <img src="{% static 'catalogos/logo/cofap.png' %}" class="card-img-top responsive"
                         alt="logo-COFAP.png">
                </div>
                <div class="">
                    <a href="http://www.mmcofap.com.br/catalogo-eletronico-introducao.aspx" class="btn btn-primary"
                       target="_blank">Ir para o Site</a>
                </div>
            </div>
        </div>

        <!-- SCHAEFFLER -->
        <div class="card text-center col-2  mb-2">
            <div class="card-body row">
                <div class="mb-5">
                    <img src="{% static 'catalogos/logo/schaeffler.png' %}" class="card-img-top responsive"
                         alt="logo-SCHAEFFLER.png">
                </div>
                <div class="">
                    <a href="https://webcat.schaeffler.com/web/schaeffler/pt/PKW/applicationSearch.xhtml"
                       class="btn btn-primary" target="_blank">Ir para o Site</a>
                </div>
            </div>
        </div>

        <!-- SCHADEK -->
        <div class="card text-center col-2  mb-2">
            <div class="card-body row">
                <div class="mb-5">
                    <img src="{% static 'catalogos/logo/schadek.png' %}" class="card-img-top responsive"
                         alt="logo-SCHADEK.png">
                </div>
                <div class="">
                    <a href="http://schadek.com.br/" class="btn btn-primary" target="_blank">Ir para o Site</a>
                </div>
            </div>
        </div>

        <!-- SPICER -->
        <div class="card text-center col-2  mb-2">
            <div class="card-body row">
                <div class="mb-5">
                    <img src="{% static 'catalogos/logo/spicer.png' %}" class="card-img-top responsive"
                         alt="logo-SPICER.png">
                </div>
                <div class="">
                    <a href="http://spicer.com.br/catalogo/" class="btn btn-primary" target="_blank">Ir para o Site</a>
                </div>
            </div>
        </div>

        <!-- TRW -->
        <div class="card text-center col-2  mb-2">
            <div class="card-body row">
                <div class="mb-5">
                    <img src="{% static 'catalogos/logo/trw.png' %}" class="card-img-top responsive" alt="logo-TRW.png">
                </div>
                <div class="">
                    <a href="https://www.trwaftermarket.com/br/catalogue/vehicle/" class="btn btn-primary"
                       target="_blank">Ir
                        para o Site</a>
                </div>
            </div>
        </div>

        <!-- ZF -->
        <div class="card text-center col-2  mb-2">
            <div class="card-body row">
                <div class="mb-5">
                    <img src="{% static 'catalogos/logo/zf.png' %}" class="card-img-top responsive" alt="logo-ZF.png">
                </div>
                <div class="">
                    <a href="https://webcat.zf.com/?SPR=15" class="btn btn-primary" target="_blank">Ir para o Site</a>
                </div>
            </div>
        </div>

        <!-- WEGA -->
        <div class="card text-center col-2  mb-2">
            <div class="card-body row">
                <div class="mb-5">
                    <img src="{% static 'catalogos/logo/wega.png' %}" class="card-img-top responsive"
                         alt="logo-WEGA.png">
                </div>
                <div class="">
                    <a href="https://wegamotors.com/consulta-on-line/" class="btn btn-primary" target="_blank">Ir para o
                        Site</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
