{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'controleAcesso/css/usuario.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Gerenciar Usuários</li>
{% endblock %}

{% block content %}
    <div class="d-flex flex-row justify-content-between">
        <div>
            <h1>Gerenciar Usuários</h1>
        </div>
        <div>
            <div class="d-flex">
                <div class="me-2">
                    <button type="button" class="btn btn-primary" id="pesquisar_button_id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                    <form action="{% url 'ajax_pesquisar_usuarios' %}" method="get" id="form_pesquisar_usuarios_id">
                        <div class="input-group" style="display: none;" id="pesquisar_id">
                            <input type="search" class="form-control" placeholder="Pesquisar" name="pesquisar">
                            <button type="submit" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                            </button>
                            <button type="reset" class="btn btn-warning">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-x-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
                <a href="{% url 'adicionar_usuario' %}" class="btn btn-primary" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         viewBox="0 0 16 16">
                        <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"></path>
                    </svg>
                    Adicionar Usuário
                </a>
            </div>
        </div>
    </div>
    <hr style="color: #000000">
    <div class="mb-4">
        <div class="row" id="lista_usuarios">
            {% if lista_usuarios %}
                {% for usuario in lista_usuarios %}
                    <div class="col-3" intranet-usuario id="{{ usuario.id }}">
                        <a href="{% url 'editar_usuario' usuario.id %}" class="btn btn-light"
                           {% if user.pk == usuario.id %}aria-current="true" {% endif %}>{{ usuario.nome }}</a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'intranet/js/botao_pesquisar.js' %}"></script>
    <script src="{% static 'controleAcesso/js/pesquisar_usuarios.js' %}"></script>
{% endblock %}