/* Responsive Image */
.responsive {
    width: 100%;
    height: auto;
    border: 1px solid #000000;
}

.li-image {
    list-style-type: none;
    max-width: 900px;

}

.li-image-thunder {
    max-width: 500px;
}

.ol-custom {
    padding: 0;
    counter-reset: item;
}

.ol-custom > li {
    list-style-type: none;
    counter-increment: item;
}

.ol-custom > li:before {
    width: 1em;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
}

.h1-custom {
    text-align: center;
}

.link-custom {
    color: #ffffff;
    text-decoration-line: underline;
}

.link-custom:hover {
    color: var(--logoLetra);
}

.input-custom-bg {
    background-color: var(--background);
    border-width: thin;
    text-align: center;
}

.appdata-custom-width {
    width: 19em;
}
.copy-custom-width {
    width: 7em;
}
