/* Cor do background da NavBar */
.navbar-custom {
    background-color: #ffffff;
    font-size: 20px;
}

/* Imagem do Menu para tela reduzida */
.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,3,136)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Cor da borda da imagem de tela reduzida */
.navbar-custom .navbar-toggler {
    border-color: var(--logoLetra);
}

/* Colocaração do text dos links da NavBar */
.navbar-custom .nav-pills .nav-link,
.navbar-custom .nav-pills .dropdown-item {
    color: var(--logoLetra);
    font-weight: bold;
}

/* Cor dos textos dos links durante hover */
.navbar-custom .nav-pills .nav-link:hover,
.navbar-custom .nav-pills .dropdown-item:hover {
    color: var(--logoBarra);
}

/* Cor dos do background do link ativo */
.navbar-custom .nav-pills .nav-link.active,
.navbar-custom .nav-pills .dropdown-item.active .dropdown-item:hover {
    color: #000000;
    background-color: var(--logoBarra);
}

.has-search input.form-control[type=search] {
    width: 7em;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.has-search input.form-control[type=search]:focus:not([readonly]) {
    border-bottom: 1px solid var(--logoLetra);
    box-shadow: 0 0 0 1px var(--logoLetra);
    width: 25em;
}

.has-search .fas {
    line-height: 2;
    color: var(--logoLetra);
}
.has-search .search-button {
    background-color: transparent;
    border-width: 0;
}
/*the container must be positioned relative:*/
.autocomplete {
    border-width: 0;
}
