#usuario .card {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .1), 0 0 2em rgba(0, 0, 0, .3);
}

#usuario .required {
    color: red;
}

#usuario .invalid-feedback ul {
    list-style-type: none !important;
    padding-left: 0.5rem;
}

.tooltip.show {
    opacity: 1;
}

.tooltip-inner {
    color: red;
    background-color: #ffffff;
    padding: 0;
    text-align: left;
}

.tooltip-inner.border {
    border-color: black !important;
}

.icon {
    display: inline-flex;
    align-self: center;
}

.icon svg, .icon img {
    height: 1em;
    width: 1em;
    fill: currentColor;
}

.icon.baseline svg, .icon img {
    top: .125em;
    position: relative;
}

#dropdownAdicionarButton {
    min-width: 10rem;
}

#lista_usuarios .btn.btn-light {
    background-color: transparent;
    border-color: transparent;
}

#lista_usuarios .btn.btn-light:hover {
    background-color: var(--logoBarra);
    border-color: transparent;
}

.select2-container .select2-search--inline .select2-search__field {
    width: 99% !important;
    height: 1.7rem !important;
    border: 1px solid #000000 !important;
    padding-left: 3px !important;
}
