{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Icon e CSS comuns -->
    <link href="{% static 'img/core-img/favicon.ico' %}" rel="icon">
    <link href="{% static 'css/variaveis.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/fontawsome/all.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/jquery-ui/jquery-ui-1.12.1.css' %}" rel="stylesheet" type="text/css">

    <!-- Bloco para complementos da head -->
    {% block extrahead %}
    {% endblock %}

    <title>Assinaturas de Email</title>
</head>
<body class="body-custom">
{% include 'partials/_navbar.html' %}
<!-- Bloco de conteudo das paginas -->
{% block content %}
{% endblock %}

{% include 'partials/_footer.html' %}

<script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="{% static 'js/jquery-ui-1.12.1.js' %}"></script>
<script>
    $("#pesquisar_assinatura").autocomplete({
        source: "{% url 'pesquisar_assinatura' %}",
        minLength: 3
    })
</script>
<!-- Bloco de Scripts -->
{% block scripts %}
{% endblock %}
</body>

</html>