{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Icon e CSS comuns -->
    <link href="{% static 'intranet/img/core-img/favicon.ico' %}" rel="icon">
    <link href="{% static 'intranet/css/variaveis.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'intranet/css/base.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'intranet/css/navbar.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'intranet/css/sidebar.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'intranet/css/footer.css' %}" rel="stylesheet" type="text/css">

    <!-- Bloco para complementos da head -->
    {% block extrahead %}
    {% endblock %}

    <title>Intranet Polipeças</title>
</head>
<body class="body-custom">

{% include 'partials/_sidebar.html' %}

<div class="container">
    {% include 'partials/_navbar.html' %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'pagina_inicial' %}">Página Inicial</a></li>
            {% block breadcrumb %}
            {% endblock %}
        </ol>
    </nav>
    <div class="card card-custom"><!-- Bloco de conteudo das paginas -->
        <section class="mt-2 ms-2 pe-4 ps-4 pt-4">
            {% block content %}
            {% endblock %}
        </section>

    </div>
    {% include 'partials/_footer.html' %}
    <div id="overlay"></div>
</div>


<!-- Jquery -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!-- Popper -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        crossorigin="anonymous"></script>

<!-- BootStrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

{% block scripts %}
{% endblock %}

{% if user.is_authenticated %}
    <script src="{% static 'intranet/js/sidebar.js' %}"></script>
{% endif %}

{% if siteAssinatura %}
    <script src="{% static 'assinatura/js/jquery-ui.min.js' %}"></script>
    <link href="{% static 'assinatura/css/jquery-ui.min.css' %}" rel="stylesheet" type="text/css">
    <script>
        const dropdown_container = $('#dropdown-container-id')
        let width_padrao = dropdown_container.width()
        let height_padrao = dropdown_container.height()
        $("#pesquisar_assinatura").autocomplete({
            /* Popular lista de autocomplete */
            source: "{% url 'pesquisar_assinatura' %}",
            minLength: 3,
            appendTo: "#search-form",
            select: function (event, ui) {
                /* Submeter formulário ao selecionar item da lista de autocomplete */
                $(this).val(ui.item.value)
                $("#search-form").submit();
                return false;
            },
            response: function (event, ui) {
                let maior_width = 0
                let maior_height = height_padrao

                $.each(ui.content, function (_, item) {
                    if (item.value.length > maior_width) {
                        maior_width = item.value.length
                    }
                })
                dropdown_container.css('min-width', width_padrao + maior_width)
                dropdown_container.css('min-height', maior_height + (30 * ui.content.length))
            },
            close: function () {
                dropdown_container.css('min-width', width_padrao)
                dropdown_container.css('min-height', height_padrao)
            }

        })
    </script>
{% endif %} <!-- Script AutoComplete -->

<!-- Bloco de Scripts -->

</body>

</html>