{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
    <div class="text-center cover-container d-flex h-100 p-3 mx-auto flex-column footer-custom">
        <main role="main" class="inner cover body-custom">
            <h1 class="cover-heading">Bem Vindo.</h1>
            <p class="lead">Crie sua assinatura acima e depois siga o guia de instalação para saber como instalar sua
                assinatura. Caso já tenha criado uma vez, não precisa criar outra! Basta pesquisar no campo de pesquisa
                acima!</p>
        </main>
    </div>
{% endblock %}