.feature-icon {
  width: 4rem;
}

.feature-icon .img-fluid {
  width: auto;
  height: 4em;
}
#links_id a {
  text-decoration: none;
  color: var(--logoLetra);
}

.input-group .form-control{
  box-shadow: none;
}