/* Cor do background da NavBar */
.navbar-custom {
    /*background-color: #d3d3d3;*/
    font-size: 20px;
}

/* Imagem do Menu para tela reduzida */
.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,3,136)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Logo */
.navbar-custom .logo {
    width: 150px;
}

/* Cor da borda da imagem de tela reduzida */
.navbar-custom .navbar-toggler {
    border-color: var(--logoLetra);
}

/* Colocaração do text dos links da NavBar */

.navbar-custom .nav-pills .nav-link,
.navbar-custom .nav-pills .dropdown-item,
.navbar-custom .nav-pills .nav-item{
    color: var(--logoLetra);
    font-weight: bold;
}

/* Cor dos textos dos links durante hover */
.navbar-custom .nav-pills .nav-link:hover,
.navbar-custom .nav-pills .dropdown-item:hover {
    color: var(--logoBarra);
}

/* Cor dos do background do link ativo */
.navbar-custom .nav-pills .nav-link.active,
.navbar-custom .nav-pills .dropdown-item.active .dropdown-item:hover {
    color: #000000;
    background-color: var(--logoBarra);
}

.modal .modal-body label[for='floatingInput'],
.modal .modal-body label[for='floatingPassword'] {
    color: var(--logoLetra);
    opacity: 100;
}

.modal .modal-title {
    color: var(--logoLetra);
}