/* Logo */
.navbar .logo {
    width: 150px;
}

/* Imagem do Menu para tela reduzida */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,3,136)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Cor da borda da imagem de tela reduzida */
.navbar-toggler {
    border-color: var(--logoLetra);
}

/* Coloração do text dos links da NavBar */
.nav-pills .nav-link,
.nav-pills .dropdown-item,
.nav-pills .nav-item {
    color: var(--logoLetra);
    font-size: 1rem !important;
    list-style-type: none;
}

/* Cor dos textos dos links durante hover */
.navbar .nav-pills .nav-link:hover,
.navbar .nav-pills .dropdown-item:hover {
    color: var(--logoBarra);
}

/* Cor dos do background do link ativo */
.navbar .nav-pills .nav-link.active,
.navbar .nav-pills .dropdown-item:active,
.navbar .nav-pills .dropdown-item.active {
    background-color: var(--logoBarra);
}

/* Cor do texto do link ativo durante hover */
.navbar .nav-pills .nav-link.active:hover,
.navbar .nav-pills .dropdown-item.active:hover {
    color: var(--logoLetra);
}




