{% load widget_tweaks %}

<form action="{% url 'consultar_cadastro' %}" method="post" enctype="multipart/form-data" id="form_cadastro_id">
    {% csrf_token %}
    <div class="d-flex justify-content-between align-items-center">
        <div class="col-4 border rounded-3">
            <div class="m-3">
                <div class="form-floating mb-2">
                    {{ form.mes|add_class:'form-control' }}
                    <label for="{{ form.mes.id_for_label }}">{{ form.mes.label }}</label>
                </div> <!-- Mês -->
                <div class="form-floating mt-2">
                    {{ form.ano|add_class:'form-control' }}
                    <label for="{{ form.ano.id_for_label }}">{{ form.ano.label }}</label>
                </div><!-- Ano -->
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" name="consultar">Consultar</button>
        </div>
        <div class="col-4 border rounded-3">
            <div class="m-3">
                <div class="form-floating">
                    <input type="text" class="form-control" id="irpj_id" placeholder="IRPJ" name="irpj"
                           value="{{ cadastro.VALR_IRPJ_PREV }}">
                    <label for="irpj_id">IRPJ</label>
                </div><!-- IRPJ -->
                <div class="form-floating">
                    <input type="text" class="form-control" id="csll_id" placeholder="CSLL" name="csll"
                           value="{{ cadastro.VALR_CSLL_PREV }}">
                    <label for="csll_id">CSLL</label>
                </div><!-- CSLL -->
            </div>
        </div>
    </div>
</form>
<div class="d-flex justify-content-between mt-2">
    <a href="{% url 'pagina_inicial' %}" class="btn btn-info mt-2">Voltar</a>
    <a href="{% url 'consulta_cadastro_imposto' %}" class="btn btn-warning mt-2"> Limpar </a>
    {% if messages %}
        <button type="submit" class="btn btn-success mt-2" form="form_cadastro_id" name="salvar">Salvar</button>
    {% else %}
        <button type="submit" class="btn btn-success mt-2" form="form_cadastro_id" name="atualizar">Atualizar</button>
    {% endif %}
</div>

