{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <link href="{% static 'resultadoContabil/css/index.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Contabilidade</li>
{% endblock %}


{% block content %}
    <h1>Contabilidade</h1>
    <ul class="nav nav-pills mb-3" id="resultado-contabil-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="cadastro-previsao-tab" data-bs-toggle="pill"
                    data-bs-target="#cadastro-previsao"
                    type="button" role="tab" aria-controls="cadastro-previsao" aria-selected="true">Cadastro Previsão
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="atualizar-valores-tab" data-bs-toggle="pill"
                    data-bs-target="#atualizar-valores"
                    type="button" role="tab" aria-controls="atualizar-valores" aria-selected="false">Atualizar Valores
            </button>
        </li>
    </ul>
    <div class="tab-content" id="resultado-contabil-tabContent">
        {% include 'partials/_alertas.html' %}
        <div class="tab-pane fade show active" id="cadastro-previsao" role="tabpanel"
             aria-labelledby="cadastro-previsao-tab">
            <div class="mb-4">
                {% include 'resultadoContabil/cadastro.html' %}
            </div>
        </div>
        <div class="tab-pane fade" id="atualizar-valores" role="tabpanel" aria-labelledby="atualizar-valores-tab">
            <div class="mb-4">
                {% include 'resultadoContabil/atualizar.html' %}
            </div>
        </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'resultadoContabil/js/jquery.inputmask.min.js' %}"></script>
    <script>
        Inputmask.extendAliases({
            'real': {
                alias: 'currency',
                autoUnmask: true,
                radixPoint: ",",
                groupSeparator: ".",
                allowMinus: false,
                prefix: 'R$ ',
                digits: 2,
                digitsOptional: false,
                rightAlign: false,
                unmaskAsNumber: true,
                removeMaskOnSubmit: true
            }
        });
        $(document).ready(function () {
            $("#irpj_id").inputmask('real')
        });
        $(document).ready(function () {
            $("#csll_id").inputmask('real')
        });
    </script>
{% endblock %}