{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'resultadoContabil/css/resultadoContabil.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Contabilidade</li>
{% endblock %}


{% block content %}
    <div class="mb-4">
        <h1>Contabilidade</h1>
        <ul class="nav nav-pills mb-3" id="resultado-contabil-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="cadastro-previsao-tab" data-bs-toggle="pill"
                        data-bs-target="#cadastro-previsao"
                        type="button" role="tab" aria-controls="cadastro-previsao" aria-selected="true">Cadastro
                    Previsão
                </button>
            </li>
            {#        <li class="nav-item" role="presentation">#}
            {#            <button class="nav-link" id="recalcular-tab" data-bs-toggle="pill"#}
            {#                    data-bs-target="#recalcular"#}
            {#                    type="button" role="tab" aria-controls="recalcular" aria-selected="false">Recalcular B.I#}
            {#            </button>#}
            {#        </li>#}
        </ul>
        <div class="tab-content" id="resultado-contabil-tabContent">
            {% include 'partials/_alertas.html' %}
            <div class="tab-pane fade show active" id="cadastro-previsao" role="tabpanel"
                 aria-labelledby="cadastro-previsao-tab">
                <div class="mb-4">
                    {% include 'resultadoContabil/cadastro.html' %}
                </div>
            </div>
            <div class="tab-pane fade" id="recalcular" role="tabpanel" aria-labelledby="recalcular-tab">
                <div class="mb-4">
                    {% include 'resultadoContabil/recalcular.html' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'resultadoContabil/js/jquery.inputmask.min.js' %}"></script>
    <script>
        Inputmask.extendAliases({
            'real': {
                alias: 'currency',
                autoUnmask: true,
                radixPoint: ",",
                groupSeparator: ".",
                allowMinus: false,
                prefix: 'R$ ',
                digits: 2,
                digitsOptional: false,
                rightAlign: false,
                unmaskAsNumber: true,
                removeMaskOnSubmit: true
            }
        });
        $(document).ready(function () {
            $("#irpj_id").inputmask('real')
        });
        $(document).ready(function () {
            $("#csll_id").inputmask('real')
        });
    </script>
    <script>
        /*  Adicionar Spinner ao botão Atualizar E Salvar
            Impedir que estes botões e o botão Consultar sejam pressionados mais de uma vez após o Submit
         */
        $("#form_cadastro_id").one('submit', function () {
            const submit_buttons = $('button[name="atualizar"], button[name="salvar"]')
            submit_buttons.html('<span id="spinner_id" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Carregando')
            submit_buttons.on('click', function (event) {
                event.preventDefault()
            })
            $('button[name="consultar"]').on('click', function (event) {
                event.preventDefault()
            })
        })
    </script>
{% endblock %}