{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Assinatura de Email</li>
{% endblock %}

{% block content %}
    <div class="text-center d-flex h-100 p-3 mx-auto flex-column">
        <h1 class="cover-heading">Bem Vindo.</h1>
        <p class="lead">Crie sua assinatura acima e depois siga o guia de instalação para saber como instalar sua
            assinatura. </p>
        <p class="lead">Caso já tenha criado uma vez, não precisa criar outra! Basta pesquisar no campo de pesquisa
            acima!</p>
    </div>
{% endblock %}

{#{% block scripts %}#}
{#    <script src="{% static 'js/jquery-ui-1.12.1.js' %}"></script>#}
{#    <script>#}
{#        $("#pesquisar_assinatura").autocomplete({#}
{#            source: "{% url 'pesquisar_assinatura' %}",#}
{#            minLength: 3,#}
{#            appendTo: "#search-form"#}
{#        })#}
{#    </script>#}
{#{% endblock %}#}