{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Assinatura de Email</li>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between">
        <div class="w-25">
        </div>
        <div class="text-center">
            <h1>Bem Vindo.</h1>
            <p class="lead">Crie sua assinatura acima e depois siga o guia de instalação para saber como instalar sua
                assinatura. </p>
            <p class="lead">Caso já tenha criado uma vez, não precisa criar outra! Basta pesquisar no campo de pesquisa
                acima!</p>
        </div>
        <div class="w-25">
        </div>
    </div>

{% endblock %}
