{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'index_assinatura' %}">Assinatura de Email</a></li>
    <li class="breadcrumb-item active" aria-current="page">Visualizar Assinatura</li>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between">
        <div id="assinatura-id">
            <table style="font-family: sans-serif">
                <tr>
                    <td style="color:#26a6ff">
                        <strong>{{ siteAssinatura.assinatura.nome }}</strong><br>
                        {{ siteAssinatura.assinatura.departamento }}<br>
                        {{ siteAssinatura.assinatura.fone }} - Ramal: {{ siteAssinatura.assinatura.ramal }}<br>
                        <a href="https://www.polipecas.com.br" target="_blank"
                           style="color:#000388">www.polipecas.com.br</a><br>
                        <small>Esta mensagem é confidencial e privilegiada. Caso Você não seja o destinatário, não está
                            autorizado a reproduzir ou divulgar a terceiros o conteúdo e deve apaga-lá.</small><br><br>
                        <a href="https://www.polipecas.com.br" target="_blank">
                            <img src="https://www.polipecas.com.br/images/logo/logo-email.png" alt="Logo.png"
                                 moz-do-not-send="false" border="0">
                        </a>
                    </td>
                </tr>
            </table>
            <div id="portal_cliente_id" style="display: none">
                <h3>Portal do Cliente Polipeças:</h3>
                Acesse nosso site, na opção <strong>Portal do Cliente</strong> siga o tutorial para se cadastrar e baixe
                suas notas fiscais, boletos, solicite renegociação de dividas entre outras opções.
                <br>
                <a href="https://www.polipecas.com.br" target="_blank">
                    <button style="color: #ffffff; background: #26a6ff; border-radius: 4px; cursor: pointer;">Clique e
                        realize seu primeiro acesso.
                    </button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="form-check col">
                <input class="form-check-input" type="checkbox" value="" id="check_portal_cliente_id">
                <label class="form-check-label" for="portal_cliente_id">
                    Adicionar recado sobre Portal do Cliente
                </label>
            </div>
            <div class="col">
                <label class="form-label">Outlook?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="1" id="radio_outlook_sim_id"
                           name="radio_outlook">
                    <label class="form-check-label" for="radio_outlook_id">
                        Sim
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="0" id="radio_outlook_nao_id"
                           name="radio_outlook" checked>
                    <label class="form-check-label" for="radio_outlook_id">
                        Não
                    </label>
                </div>
            </div>

        </div>


    </div>

    <div class="mt-5 mb-4">
        <a class="btn btn-primary" href="#" id="donwload-link" onclick="myFunction()">Baixar Assinatura</a>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $("#check_portal_cliente_id").on('click', function () {
            $("#portal_cliente_id").toggle(this.checkd)
        })
    </script>
    <script>
        function myFunction() {
            const inicio_HTML = '<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"></head><body>'
            const fim_HTML = '</body></html>'
            let assinatura = document.getElementById("assinatura-id").innerHTML
            assinatura = inicio_HTML + assinatura + fim_HTML
            let nome = "{{ siteAssinatura.assinatura.nome}}"
            nome = nome.replaceAll(' ', '')
            let formato
            radio_selecionado = $('input[name=radio_outlook]:checked')
            if (radio_selecionado.val() === "1") {
                formato = 'htm'
            } else {
                formato = 'html'
            }
            download(assinatura, nome, formato)
        }

        function download(assinatura, nome_do_arquivo, tipo_de_arquivo) {
            const link = document.getElementById("donwload-link");
            const arquivo = new Blob([assinatura], {type: tipo_de_arquivo});
            const nome_arquivo_com_extensao = nome_do_arquivo + "." + tipo_de_arquivo;
            link.href = URL.createObjectURL(arquivo);
            link.download = nome_arquivo_com_extensao
        }
    </script>
{% endblock %}