{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block extrahead %}
    <link href="{% static 'intranet/css/tooltip.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'subsTribut/css/forms.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'index_st' %}">Número de Negociação</a></li>
    {% if form.pol_intra_nego_vw.INDR_CONSUMIDOR_FINAL %}
        <li class="breadcrumb-item active" aria-current="page">Calculo do DIFAL</li>
    {% else %}
        <li class="breadcrumb-item active" aria-current="page">Calculo da ST</li>
    {% endif %}

{% endblock %}

{% block content %}
    <div class="mb-4">
        <h1>Cálculo de ST e DIFAL</h1>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-calculo-nego-vw-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-calculo-nego-vw" type="button" role="tab"
                        aria-controls="nav-calculo-nego-vw" aria-selected="true">Calcular por Negociação
                </button>
                {#                <button class="nav-link" id="nav-calculo-individual-tab" data-bs-toggle="tab"#}
                {#                        data-bs-target="#nav-calculo-individual" type="button" role="tab"#}
                {#                        aria-controls="nav-calculo-individual" aria-selected="true">Calcular Item Individual#}
                {#                </button>#}
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-calculo-nego-vw" role="tabpanel"
                 aria-labelledby="nav-calculo-nego-vw-tab">
                {% include 'partials/_alertas.html' %}
                {% if form.numr_negociacao is None %}
                    {% include 'subsTribut/partials/_calcular_nego_vw.html' %}
                {% else %}
                    {% include 'subsTribut/partials/_calcular_nego_vw_resultado.html' %}

                {% endif %}
            </div>
            {#            <div class="tab-pane fade" id="nav-calculo-individual" role="tabpanel"#}
            {#                 aria-labelledby="nav-calculo-individual-tab">#}
            {#                {% include 'subsTribut/partials/_calcular_individual.html' %}#}
            {#            </div>#}
        </div>
    </div>

{% endblock %}


