{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'assinatura/css/guias.css' %}">
{% endblock %}
{% block content %}

    <div class="container">
        <h1 class="h1-custom">Zimbra</h1>
        <h2>Configurar o Zimbra</h2>
        <ol class="ol-custom">
            <li>Primeiramente vamos prepara o zimbra para receber a assinatura de email.
                <ul>
                    <li>Para isso, entre na sua conta de email no zimbra, e em seguida clique em "Preferências"</li>
                    <li class="li-image">
                        <p></p>
                        <img class="responsive" alt="Prefe.png" src="{% static 'assinatura/img/guia/zimbra/Prefe.png' %}"/>
                        <p></p>
                    </li>
                </ul>
            </li>
            <li> Em seguida, no menu "Preferências" na lateral esquerda, clique na opção "Assinaturas".
                <ul>
                    <li class="li-image">
                        <p></p>
                        <img class="responsive" alt="Assin.png" src="{% static 'assinatura/img/guia/zimbra/Assin.png' %}"/>
                        <p></p>
                    </li>
                </ul>
            </li>
            <li>Agora Preencha seu nome no campo "Nome".
                <ul>
                    <li class="li-image">
                        <img class="responsive" alt="NomeAss.png"
                             src="{% static 'assinatura/img/guia/zimbra/NomeAss.png' %}"/>
                    </li>
                </ul>
            </li>
            <li>Em seguida, clique em "Formatar como texto simples" e entre as opções que aparecerão marque "Formatar
                como HTML".
                <ul>
                    <li class="li-image">
                        <img class="responsive" alt="FormatHTML.png"
                             src="{% static 'assinatura/img/guia/zimbra/FormatHTML.png' %}"/>
                    </li>
                </ul>
                <h2>Copiando a Assinatura</h2>
            </li>
            <li>Agora vamos copiar a assinatura que foi criada na parte na <a class="link-custom"
                                                                              href="{% url 'criar_assinatura' %}">seção
                de criação de assinatura</a>
                <ul>
                    <li>Para isso, vá na pasta onde o seu arquivo de assinatura (.HTML) foi salvo e clique para abri-lo.
                    </li>
                    <li class="li-image">
                        <p></p>
                        <img class="responsive" alt="PastaAss.png" src="{% static 'assinatura/img/guia/zimbra/PastaAss.png' %}"/>
                        <p></p>
                    </li>
                </ul>
            </li>
            <li>Em seguida selecione toda a assinatura com o mouse, ou utilizando o atalho de teclado <input
                    class="input-custom-bg copy-custom-width" type="text" readonly
                    value="ctrl + a"/> como mostra a imagem a baixo:
                <ul>
                    <li class="li-image">
                        <p></p>
                        <img class="responsive" alt="ctrlA.png" src="{% static 'assinatura/img/guia/zimbra/ctrlA.png' %}"/>
                        <p></p>
                    </li>
                </ul>
            </li>
            <li> Agora com tudo selecionado, incluindo a imagem:
                <ul>
                    <li class="li-image">
                        <p></p>
                        <img class="responsive" alt="AssSelect.png" src="{% static 'assinatura/img/guia/zimbra/AssSelect.png' %}"/>
                        <p></p>
                    </li>
                    <li>Copie a imagem apertando <input class="input-custom-bg copy-custom-width" type="text" readonly
                                                        value="ctrl + c"/> ou clique com o botão direito do mouse e
                        depois clique em "copiar".
                    </li>
                    <li class="li-image">
                        <p></p>
                        <img class="responsive" alt="Copiar.png" src="{% static 'assinatura/img/guia/zimbra/Copiar.png' %}"/>
                        <p></p>
                    </li>
                </ul>
                <h2>Instalando Assinatura</h2>
            </li>
            <li>Após copiar a assinatura, volte ao zimbra, onde paramos anteriormente.
                <ul>
                    <li class="li-image">
                        <p></p>
                        <img class="responsive" alt="Ass.png" src="{% static 'assinatura/img/guia/zimbra/Ass.png' %}"/>
                        <p></p>
                    </li>
                </ul>
            </li>
            <li>Cole a assinatura que foi copiada anteriormente pressionando <input
                    class="input-custom-bg copy-custom-width" type="text" readonly
                    value="ctrl + v"/> ou clique com o botão direito do mouse e depois clique em "colar".
                <ul>
                    <li class="li-image">
                        <p></p>
                        <img class="responsive" alt="Colar.png" src="{% static 'assinatura/img/guia/zimbra/Colar.png' %}"/>
                        <p></p>
                    </li>

                </ul>
            </li>
            <li> Por fim, verifique na parte de "Uso de assinaturas", se a assinatura que acabou de criar está
                selecionada para "Novas mensagens" e se o posicionamento da assinatura esta marcado em "Acima das
                mensagens incluídas"
                <ul>
                    <li class="li-image">
                        <p></p>
                        <img class="responsive" alt="UsoAss.png" src="{% static 'assinatura/img/guia/zimbra/UsoAss.png' %}"/>
                        <p></p>
                    </li>
                </ul>
            </li>
            <li>Pronto, agora basta clicar em "Salvar" e a sua assinatura estará salva.
                <ul>
                    <li class="li-image">
                        <p></p>
                        <img class="responsive" alt="Salvar.png" src="{% static 'assinatura/img/guia/zimbra/Salvar.png' %}"/>
                        <p></p>
                    </li>
                </ul>
            </li>
            <li>Agora, a próxima vez que for enviar um email, ela já será adicionada ao email automaticamente.
                <ul>
                    <li class="li-image">
                        <p></p>
                        <img class="responsive" alt="novaMSG.png" src="{% static 'assinatura/img/guia/zimbra/novaMSG.png' %}"/>
                        <p></p>
                    </li>
                </ul>
            </li>
        </ol>
    </div>
{% endblock %}